meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="/css/normalize.css")   
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' crossorigin='anonymous')
//- aqui esta usando una ruta absoluta desde la raiz , porque el ../ es salir de esta carpeta para usar el css
link(rel="stylesheet", href="/css/app.css")
//- informacion enviado desde  el controlador hacia la vista
title #{nombrePagina}